body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5つの列を均等に配置 */
    gap: 5px; /* グリッド間の間隔 */
    margin-top: 20px; /* 上部のマージン */
    margin-bottom: 20px; /* 下部のマージン */
    padding: 10px; /* グリッド内のパディング */
    justify-content: center; /* 列ごとに中央寄せ */
}
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.cell.marked {
    background-color: yellow;
}

#number {
    font-size: 2em;
    margin-top: 20px;
}

#countdown {
    font-size: 1em;
    margin-top: 10px;
}

#log-container {
    max-height: 150px;
    width: 110px; /* 固定幅を指定 */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px auto; /* 自動マージンを追加して中央揃え */
}
#log {
    text-align: left;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.me-2 {
    margin-right: 0.5rem; /* Bootstrapのクラスを使ってボタン間にスペースを追加 */
}